@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #f84565;
  --color-secondary: #d63854;

}

* {
  font-family: "Outfit", sans-serif;
  scrollbar-color: #787777 #1e1e1e;
  scrollbar-width: thin;
}

body {
  color: white;
  background-color: #09090B;
}